/* Auth Component Styling Starts */
.form-container {
    width: 100%;
    background-color: #080a0c;
    background: linear-gradient(135deg, #0f1217 0%, #0d1117 100%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    max-width: 400px;
    margin: 130px 10px 20px 10px;
    border: none;
    border-radius: 20px;
    background-color: #071324;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.auth-container form label {
    font-size: 20px;
    color: white;
}

.auth-container form input {
    border-radius: 0.5rem;
}
/* Auth Component Styling Ends */

/* Logout Component Styling Starts */
.logout-container {
    max-width: 400px;
    margin-top: 130px;
    margin-bottom: 20px;
}
/* Logout Component Styling Ends */